body {
   text-align: justify;
   text-justify: inter-word;
   line-height:1.6em;
   font-size:1.2em;
   margin: 20px auto;
   width:80%;
   }
   
 .aside{
	padding:20px;
 }
.d3-tip {
 line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
	box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after{
  margin: -1px 0 0 0;
  
}

.brush .extent{
 stroke: rgb(255,0,0);
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: rgb(255,0,0);
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.year{
	fill:black;
}

.ui-slider-handle>div{
	color:black;
	padding-top: 20px;
}

button.button-row { 
  margin-top: 20px;
  height: 50%;
}

.button-aside{
  background-color: transparent;
  width:auto;
  height:auto;
  border:none;
  padding: 0;
}

.button-aside:hover {
  background-color: transparent;
}